*{
    padding: 0px;
    margin:0px;
}
.bg-circle-gradiant {
  background: radial-gradient(circle at 50% 50%, rgba(47, 85, 212, .1) 0, rgba(47, 85, 212, .1) 33.333%, rgba(47, 85, 212, .2) 33.333%, rgba(47, 85, 212, .2) 66.666%, rgba(47, 85, 212, .3) 66.666%, rgba(47, 85, 212, .3) 99.999%);
}
.bg-home {
  height: 100vh;
  background-size: cover !important;
  -ms-flex-item-align: center;
  align-self: center;
  position: relative !important;
  background-position: center center;
}
.bg-overlay-white {
  background-color: rgba(255, 255, 255, .5);
}
.bg-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.bg-home, .bg-home-75vh {
    align-self: center;
    background-position: 50%;
    background-size: cover;
    position: relative;
}
.bg-home {
    height: 100vh;
}
.align-items-center {
    align-items: center !important;
}

.shadow {
    box-shadow: 0 0 3px #3c485826 !important;
}
.card {
    background-color: #fff;
    border: 0;
}
.card .card-body {
    padding: 1.5rem;
}